/*     whole page styling     */

html {
   background-color: #eee;
   font-family: "Verdana", sans-serif;
   line-height: 1.4;
}

.container {
   margin: 5%;
   padding: 2%;
}

.main {
   border: 0.1em solid gray;
}

header {
   border-bottom: 0.3em solid gray;
   text-align: right;
   padding: 2em 0.2em 2em 2em;
   margin: 0 2em 3em 2em;
}

header i {
   padding-left: 1em;
}

/*      styling of the ul and li elements   */

ul {
   width: 100%;
}

li {
   width: 32%;
   display: inline-block;
   text-align: center;
   padding: 1em 0 1em 0;
}

.price {
   display: inline;

}

/*    styling of internal li elements      */

i {
   color: #c0c0c0;
   display: inline;
   font-size: 3em;
}

header i:hover {
   color: #47a3da;
}

h3 {
   color: #47a3da;
   font-size: 1.5em;
   margin-bottom: 0.5em;
   /*display: inline;*/
}

.price {
   color: #c0c0c0;
   padding-bottom: 1em;
   /*display: inline;*/
}

.description {
   color: #47a3da;
   padding: 0 1em 1em 1em;
   /*display: inline;*/
}

.cartButton {
   color: #eee;
   background-color: #47a3da;
   border: none;
   padding: 0.7em;
   font-size: 1em;
   margin-bottom: 3em;
   /*display: inline;*/
}

.cartButton:hover {
   background-color: #10689a;
}
